<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ABOUT</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    {{>header}}
    
    <div class="resource-container">
        <div class="resource-box1">
          <a href="https://www.redcross.org/" target="_blank">
            <img src="images/redcross.png" alt="Glucose Meter"> </a>
            <p>Red Cross</p>
        </div>
        <div class="resource-box2">
          <a href="https://www.walgreens.com/" target="_blank">
            <img src="images/walgreens.png"  alt="Lancet Needle"> </a>
            <p>Walgreens</p>
        </div>
    </div>

<div class="resource-conatiner2">
    <div class="resource-box3">
      <a href="https://diabetes.org/" target="_blank">
            <img src="images/ADA.png" alt="Test Strips"> </a>
            <p>American Diabetes Association</p>
        </div>

        <div class="resource-box4">
          <a href="https://www.cvs.com/" target="_blank">
            <img src="images/cvslogo.png" alt="Test Strips"> </a>
            <p>CVS</p>
        </div>
        </div>

        <button type="submit">Donate</button>
      </form>

      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <script src="js/app.js"></script>
    </div>


    {{>footer}}
  </body>
</html>