<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/homepage.css">
  </head>
  <body>
    {{>header}}
  
      <div class="hero-container">
          <!-- Original slides -->
          <div class="slide">
            <img src="images/foodDiabetes.webp" alt="Image 1" />
          </div>
        </div>

        <section class="index-navsection"> <!-- This class is for the top section which is called navsection because it's at the top-->
    <div class="content-column">
        <div class="index-center_nav_section">
            <h1>Our Mission Statement</h1>
            <p>At Vital View, we empower individuals to take control of their health by prioritizing blood sugar management. Our mission is to provide innovative, user-friendly solutions for tracking and optimizing blood sugar levels. Through education and support, we aim to build a community where everyone can lead healthier, vibrant lives free from blood sugar complications. 
              </p>
              <p>The reason we want people to use this app is because we believe we have made an app that makes it simple and very easy to monitor as well as recommend healthier food choices. Our app also tells you if your blood sugar levels are too high or if they are too low.</p>
            </a> 
        </div>
        </div>
    </div>  
    </section>

      <section class="index-middle-section"> <!-- This class is for the top section which is called navsection because it's at the top-->
        <div class="index-middle-2-section">
          <a class="BloodLevels">
            <h1>Blood Sugar Levels</h1>
            <img src="images/bloodchart.png" class="middle-image">
            <h5> The image provided is to show the difference between high, medium, as well as low blood sugar levels.
            </h5>
              <p>If you'd like to get in person results please refer to our resources page that will give you many places to visit to get that in person expierence </p>
          </a>
        </div>
    </section>


    <section class="bottom-section">
      <h2>Physical Necessary Tools</h2>
      <div class="info-container">
        <div class="info-box">
            <img src="images/glucosemeter.webp" alt="Glucose Meter">
            <p>Without the glucose meter you aren't able to get the proper blood levels </p>
        </div>
        <div class="info-box2">
            <img src="images/lancet.jpeg" alt="Lancet Needle">
            <p>The Lancet Needle is a special type of needle that is used to draw a small blood sample to use for the Glucose Meter </p>
        </div>
        <div class="info-box3">
            <img src="images/teststrips.jpeg" alt="Test Strips">
            <p>The Test Strips go inside the Glucose Meter and it uses the blood sample to get accurate details</p>
        </div>
    </div>
    </section>




    </main>
    <!--******************************************************************* footer -->
    {{>footer}}
    <script src="app.js"></script>
  </body>
</html>
