<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
        <link rel="stylesheet" href="css/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
  </head>
  <body>
    {{>header}}
 <div class="Form">
          <div class="left-image">
          <img src="/images/loginPic.avif" alt="Diabetes Awareness" />
        </div>
      <section class="login-container">
    <section class="login-section">
        <form method="POST" class="login-form" id="loginForm">
          <h2>Login</h2>
          <div class="input-group">
            <label for="email">Email</label>
            <input
              type="text"
              id="email"
              name="email"
             
              placeholder="Enter your email"
            />
          </div>

          <div class="input-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              required
              placeholder="Password"
            />
          </div>

          <div class="input-group">
            <button type="submit" class="btn">Login</button>
          </div>

          <div class="signup-link">
            <p>Don't have an account? <a href="signup">Sign up</a></p>
          </div>
        </form>
      </div>
  </div>
</section>
    {{>footer}}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/login.js"></script>
  </body>
</html>