.slide img {
  width: 100%;
  height: 460px;
  max-width: 100%;
}
.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: #fff;
}
.text-content {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.topTag {
  font-size: 4rem;
  margin-bottom: 2rem;
  margin-top: 4rem;
  color: #216d90;
  border-bottom: 1px solid #216d90;
}

.topP {
  font-size: 1.2rem;
  line-height: 1.3;
  margin-top: 1rem;
}

.index-navsection {
  width: 100vw;
  background-color: #e2e2e0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-column {
  text-align: left;
  background-color: #e4edf2;
}
.index-center_nav_section {
  text-align: left;
  display: flex;
  flex-direction: column;
  max-width: 90%;
  padding: 30px;
  color: #000000;
  margin-top: 30px;
  margin-bottom: 30px;
}

.index-center_nav_section h3 {
  font-size: 2.2rem;
  margin-bottom: 2rem;
  margin-top: 4rem;
  color: #216d90;
}

.index-center_nav_section p {
  font-size: 1.4rem;
  margin-top: 10px;
  width: 50%;
}

.flipText {
  background-color: #216d90;
}

.row {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
  margin-top: 3rem;
}

.image-1 img {
  max-width: 78%;
  height: 20%;
  margin-left: 3rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 3rem;
}

.image-2 img {
  width: 100%;
  height: 40rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 3rem;
  float: left;
  overflow-clip-margin: unset;
}

.text-container {
  max-width: 50%;
}

.image2-H2 {
  font-size: 2.6rem;
  margin-bottom: 10px;
  text-align: right;
  height: 100%;
  margin-right: 8rem;
  color: #e4edf2;
}

.image1-H2 {
  font-size: 2.6rem;
  margin-bottom: 10px;
  text-align: left;
  height: 100%;
  margin-top: 3rem;
  color: #e4edf2;
}

.image1P {
  /* font-size: 1rem;
  line-height: 1.6; */
  margin-right: 5rem;
  text-align: left;
  font-size: 1.2rem;
  width: 70%;
  color: #fff;
}
.image2Text {
  margin-left: 8rem;
  text-align: right;
  font-size: 1.2rem;
  width: 70%;
  color: #fff;
}

.image-3 img {
  width: 78%;
  height: 60%;
  margin-left: 5rem;
  border-radius: 1rem;
  margin-bottom: 3rem;
}

.image3P {
  margin-right: 6rem;
  text-align: left;
  font-size: 1.2rem;
  width: 70%;
  color: #fff;
}

.image1-H3 {
  font-size: 2.6rem;
  margin-bottom: 18px;
  text-align: left;
  height: 100%;
  color: #e4edf2;
}

.row reverse {
  flex-direction: row-reverse;
  background-color: #216d90;
}

.resource-section {
  border: 1px solid #4a90e2;
  padding: 30px;
  max-width: 90%;
  margin: 20px auto;
  display: flex;
  /* flex-direction: column; */
}

.resources-column {
  margin-bottom: 20px;
}

.resources-column h3 {
  font-size: 1.8rem;
  text-align: left;
  color: #216d90;

  margin-bottom: 10px;
}

.resources-column p {
  font-size: 1.1rem;
  line-height: 1.6;
  width: 60%;
  text-align: left;
  color: #333;
}

.recourseBTN {
  padding: 12px 20px;
  background-color: #4a90e2;
  color: white;
  font-size: 1.1rem;
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease;
  align-self: flex-start;
  margin-right: 8rem;
  margin-top: 2rem;
}
.recourseBTN:hover {
  background-color: #4fc319;
  color: black;
}

.index-middle-2-section {
  background-color: #fff;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  max-width: 100%;
  padding: 20px;
}

.middle-image {
  width: 60%;
  margin-top: 3rem;
  height: 30%;
  max-width: 40%;
  object-fit: cover;
}

h5 {
  font-size: 17px;
  width: 45%;
  max-width: 70%;
  display: flex;
  text-align: left;
  line-height: 1.6;
  margin: 0;
  color: black;
  background-color: #e4edf2;
  padding: 20px 20px;
  margin-right: 3rem;
  border-radius: 8px;
}

/* ************************ Reesponsivness  ***************************** */
@media (max-width: 768px) {
  .hero-container {
    flex-direction: column;
    align-items: center;
  }

  .slide img,
  .text-content {
    width: 100%;
  }
  .topTag {
    font-size: 2rem;
    text-align: center;
    margin-top: 0;
  }
  .topP {
    text-align: center;
    font-size: 18px;
    margin-bottom: 1rem;
    margin-top: 0%;
  }
  .row {
    flex-direction: column;
  }

  .text-container,
  .image-container {
    max-width: 100%;
    text-align: center;
    font-size: medium;
    margin-left: 7rem;
  }

  .image-container img {
    max-height: 300px;
    object-fit: cover;
  }
  .image-1 {
    align-items: center;
    margin-right: 2rem;
  }

  .image-2 img {
    align-items: center;
    width: 105%;
    height: 26rem;
    margin-left: 0%;
  }
  .image1-H2 {
    font-size: 1.6rem;
    text-align: center;
    margin-left: 0%;
    width: 79%;
  }
  .image2-H2 {
    font-size: 1.6rem;
    text-align: center;
    margin-left: 0%;
    width: 79%;
  }

  .image1-H3 {
    font-size: 1.6rem;
    text-align: center;
    margin-left: 0%;
    width: 79%;
  }

  .image-3 img {
    margin-left: 0%;
    align-items: center;
    padding-left: 0%;
  }

  .image2Text {
    font-size: 1rem;
    margin-bottom: 2rem;
    margin-left: 0%;
    text-align: center;
    width: 79%;
  }
  .index-middle-2-section {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .middle-image {
    width: 80%;
    margin-top: 2rem;
    max-width: 100%;
  }

  h5 {
    width: 90%;
    text-align: center;
    margin-right: 0;
    padding: 10px 15px;
  }
  .recourseBTN {
    display: none;
  }
  .index-center_nav_section h3 {
    text-align: center;
    width: 113%;
  }
  .index-center_nav_section p {
    width: 105%;
    text-align: center;
  }
  .resources-column h3 {
    text-align: center;
  }
  .resources-column p {
    width: 100%;
    text-align: center;
  }
  .image1P {
    font-size: 1rem;
    text-align: center;
    width: 80%;
  }
  .image3P {
    text-align: center;
    font-size: 14px;
    margin-bottom: 3rem;
    width: 78%;
  }
}

@media (max-width: 480px) {
  .index-middle-2-section {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
  }

  .middle-image {
    width: 100%;
    margin-top: 1rem;
  }

  h5 {
    width: 100%;
    padding: 10px 15px;
    font-size: 15px;
    text-align: center;
  }
}

@media (max-width: 360px) {
  .middle-image {
    width: 100%;
    margin-top: 1rem;
  }

  h5 {
    font-size: 14px;
    width: 100%;
    padding: 10px;
  }
}
