* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: Georgia, serif, Arial, sans-serif;
}

body {
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  background-color: #e4edf2;
  min-height: 100vh;
  height: 100%;
  margin: 0;
  flex-direction: column;
}
section {
  padding: 0;
  text-align: center;
}

h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

/********************************************************************************* Navbar *********************************************************************/
.navbar {
  background-color: #216d90;
  color: #ffffff;
  position: sticky;
  top: 0;
  height: 5rem;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
}
.brand-logo {
  height: 4.5rem;
  width: 80%;
  margin-left: 3rem;
}

.brand-logo:hover {
  transform: scale(1.1);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  z-index: 1000;
  /* margin-right: 2rem;
  margin-bottom: 0.5rem; */
}

.nav-links li {
  display: inline-block;
  vertical-align: middle;
}

.nav-links a,
.nav-links .btn-nav {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  transition: all 0.3s ease;
  display: inline-block;
  text-align: center;
}

.nav-links a:hover,
.nav-links .btn-nav:hover {
  background-color: #f6f3f3;
  color: #4a90e2;
  border-radius: 5px;
}

.nav-links .btn-nav {
  background-color: #4a90e2;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.nav-links .btn-nav:hover {
  background-color: white;
}
/******************************************************************************** Hamburger Menu **************************************************************************/
.hamburger {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}

.hamburger .bar {
  width: 25px;
  height: 4px;
  background-color: #fff;
  border-radius: 5px;
}

/* ******************************************************************* Home Page  ****************************************************************/

.hero-container {
  position: relative;
  width: 100%;
  height: 35vh;
  /* overflow-x: hidden; */
}

/* .slider {
  display: flex;
  width: 300%;
  animation: slideAnimation 5s linear infinite;
  right: 0 !important;
} */

.slide {
  width: 100vw;
  height: 100vh;
  flex-shrink: 0;
}

.slide img {
  width: 100%;
  height: 750px;
  object-fit: cover;
}

/************************************************************************** Graph Page *****************************************************/
.container {
  max-width: 100%;
  margin: 20px auto;
  padding: 20px;
  background-color: #f5f5f5;
  color: #003b5c;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}
.container:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
}

.topTitle {
  /* margin-left: 10rem; */
  color: #216d90;
  text-align: left;
  margin-bottom: 1px;
  margin-top: 45px;
  max-width: 100%;
  padding-left: 30px;
  /* border-bottom: 1px solid #216d90; */
}

.input-chart-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 30px;
  flex-wrap: wrap;
}

.input-section {
  margin-bottom: 1px;
  flex: 1;
  margin-left: 3rem;
  padding-right: 40px;
  max-width: 350px;
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  background-color: #ffffff;
}

.input-section label {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
  margin-top: 3rem;
  color: #003b5c;
  margin-left: 1rem;
}
.input-section input {
  padding: 14px 18px;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
  margin-top: 30px;
  font-size: 20px;
  margin-bottom: 30px;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
.chart-section {
  margin-bottom: 1px;
  flex: 2;
  /* padding-left: 20px; */
}

#bloodSugarChart {
  width: 100% !important;
  height: 400px;
  background-color: #f5f5f5;
}

#bloodSugar {
  padding: 10px;
  font-size: 11px;
  width: 100px;
  max-width: 250px;
  margin-right: 11px;
  color: #12547a;
  border: 2px solid #ddd;
  border-radius: 9px;
}

.addDataBtn {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #4a90e2;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  width: 200px;
  margin-bottom: 30px;
}

.addDataBtn:hover {
  background-color: #4fc319;
  color: black;
}

canvas {
  width: 100%;
  height: 400px;
}
.recommendations-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}

#foodRecommendations {
  padding: 20px;
  flex: 1 1 45%;
}

.food-item {
  background-color: #ffffff;
  padding: 37px;
  border-radius: 12px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.food-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
}

.food-item img {
  width: 30%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.food-item h3 {
  font-size: 2em;
  color: #216d90;
  font-weight: 600;
  margin-top: 0;
  flex: 2;
  text-align: left;
  margin-bottom: 30px;
}

.food-item p {
  color: #12547a;
  font-size: 1rem;
  margin: 20px;
  flex: 1;
}

.food-item a {
  color: #12547a;
  font-size: 0.85em;
  text-decoration: none;
  padding: 18px 20px;
  border-radius: 8px;
  background-color: rgba(0, 123, 255, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.food-item a:hover {
  background-color: #4fc319;
  color: black;
}

.food-item .food-info {
  flex: 1;
}

.food-item .nutrition-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #555;
  font-size: 0.85em;
}
.food-item .food-details {
  display: flex;
}

.food-item .nutrition-info span {
  margin-top: 6px;
}

.saveFood {
  /* padding: 2px 8px; */
  font-size: 12px;
  background-color: #4a90e2;
  color: white;
  border: none;
  margin-top: 0.3rem;
  cursor: pointer;
  border-radius: 6px;
  width: 90px;
  height: 49px;
  margin-bottom: 30px;
}

.food-item .saveFood:hover {
  background-color: #4fc319;
  color: black;
}

.sticky-text {
  margin-top: 19rem;
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  z-index: 10;
  padding: 20px;
  border-radius: 8px;
}

.sticky-text h3 {
  color: #216d90;
  font-size: 2rem;
  text-align: left;
  padding-bottom: 3rem;
}

.sticky-text p {
  color: #12547a;
  font-size: 1rem;
  text-align: left;
  padding-bottom: 3rem;
}

#recipeSearchForm {
  margin-bottom: 1px;
  flex: 1 1 40%;
  margin-left: 2rem;
  padding-right: 50px;
  max-width: 350px;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  margin-right: 3rem;
  background-color: white;
  margin-top: 1rem;
}

#recipeSearchForm label {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
  padding-right: 30px;
  margin-top: 3rem;
  color: #003b5c;
  margin-left: 1rem;
}

#recipeSearchForm input {
  padding: 14px 18px;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 100%;
  margin-top: 30px;
  font-size: 20px;
  margin-bottom: 30px;
  outline: none;
  margin-left: 2rem;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

#recipeSearchForm input::placeholder {
  color: #aaa;
}

#recipeSearchForm input:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
}

#recipeSearchForm button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #4a90e2;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  width: 200px;
  margin-left: 2rem;
  margin-bottom: 30px;
}

#recipeSearchForm button:hover {
  background-color: #4fc319;
  color: black;
}

@media (max-width: 768px) {
  .recommendations-container {
    flex-direction: column;
    padding: 10px;
  }
  .topTitle {
    text-align: center;
  }
  .sticky-text {
    text-align: center;
    margin-top: 3rem;
  }
  #foodRecommendations {
    width: 100%;
  }

  .food-item {
    flex-direction: column;
    text-align: center;
    width: 100%;
  }

  .food-item img {
    width: 80%;
    height: auto;
  }

  .food-item h3 {
    font-size: 1.2em;
    text-align: center;
  }

  .food-item p {
    font-size: 0.9rem;
  }

  .food-item .food-details {
    display: block;
    margin-top: 10px;
  }

  .food-item .nutrition-info {
    font-size: 0.75em;
  }

  #recipeSearchForm {
    margin-top: 20px;
    width: 60%;
    flex: 1;
    margin-left: 7rem;
  }
  .sticky-text h3 {
    display: none;
  }

  .sticky-text p {
    display: none;
  }
  #recipeSearchForm input,
  #recipeSearchForm button {
    width: 100%;
    margin-bottom: 10px;
    margin-left: 3rem;
  }

  #recipeSearchForm label {
    font-size: 16px;
  }
}

/**************************************************************** LOGIN Page ***********************************************************************************************************/
.login-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 12000px;
  height: 100%;
  justify-content: center;
  box-sizing: border-box;
  gap: 20px;
}
.left-image {
  flex: 1;
  max-width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  /* justify-content: center; */
}
.left-image img {
  max-width: 800px;
  height: 650px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-section {
  flex: 1;
  max-width: 500%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.login-form {
  width: 40rem;
  max-width: 400px;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* max-width: 800px; */
  height: 650px;
  padding-top: 8rem;
}

.login-form h2 {
  font-size: 28px;
  color: #333;
  margin-bottom: 30px;
  text-align: center;
}

.input-group {
  margin-bottom: 20px;
  text-align: left;
  margin-left: 2rem;
  margin-right: 2rem;
}

.input-group label {
  font-weight: 600;
  color: #333;
  display: block;
  margin-bottom: 8px;
}

.input-group input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 6px;
  background-color: #fafafa;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input-group input:focus {
  outline: none;
  border-color: #007bff;
  background-color: #ffffff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.4);
}

.btn {
  width: 100%;
  padding: 12px;
  background-color: #4a90e2;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  align-items: center;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.btn:hover {
  background-color: #0056b3;
}

.signup-link {
  text-align: center;
  margin-top: 20px;
}

.signup-link a {
  color: #5fa9f4;
  text-decoration: none;
  font-weight: bold;
}

.signup-link a:hover {
  text-decoration: underline;
  color: #4fc319;
}
.Form {
  display: flex;
  flex-direction: row;
  /* height: 100vh; */
  justify-content: right;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: 339px;
}

/******************************************************************** Sign-Up Page ************************************************************************************ */
.signup-container {
  background-color: #f5f5f5;
  justify-content: center;
  box-shadow: 50 4px 10px rgba(0, 0, 0, 0.1);
  /* width: 100%; */
  max-width: 1200px;
  display: flex;
  height: 90%;
  margin-left: 25%;
  background-color: #e4edf2;
  margin-top: 80px;
  flex-wrap: wrap;
}
.right-image {
  flex: 1;
  max-width: 100%;
  display: flex;
}
.right-image img {
  height: 750px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.signup-form {
  width: 100%;
  max-width: 400px;
  padding: 30px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 750px;
}
.signup-form h2 {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 28px;
  margin-top: 35px;
  color: #070606;
  text-align: center;
}

.input-group {
  margin-bottom: 20px;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  color: #333;
}

.input-group input,
.input-group select {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  height: 40px;
  border-color: #5fa9f4;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input-group input:focus,
.input-group select:focus {
  border-color: #b0cfde;
  box-shadow: 0 0 5px rgba(206, 227, 255, 0.925);
  outline: none;
}

.btn {
  width: 100%;
  padding: 12px;
  background-color: #4a90e2;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #4fc319;
}

.signin-link {
  margin-top: 20px;
  font-size: 14px;
  color: #4f4e4e;
  margin-bottom: 1px;
  text-align: center;
}

.signin-link a {
  color: #4a90e2;
  font-weight: bold;
  text-decoration: none;
}

.signin-link a:hover {
  color: #4fc319;
  text-decoration: underline;
  margin-top: 20px;
  font-size: 14px;
}
.terms-info {
  margin-bottom: 20px;
  font-size: 14px;
  color: #555;
  text-align: center;
}

.terms-info a {
  color: #4a90e2;
  text-decoration: none;
}

.terms-info a:hover {
  text-decoration: underline;
  color: #4a90e2;
}
/* *************************************** footer *******************************************/
footer {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  bottom: 0;
  justify-content: space-between;
  background-color: #216d90;
}
footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1px;
}
.footer-logo {
  height: 8rem;
  width: 15rem;
  margin-top: 2rem;
}

.footer-logo:hover {
  transform: scale(1.1);
}
footer h4 {
  font-size: 21px;
  padding-top: 50px;
  padding-bottom: 20px;
  color: white;
}

footer p {
  font-size: 12px;
  margin: 20 0 3px 0;
  color: white;
}

#footerLink {
  color: #4a90e2;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  font-size: 1.3rem;
  text-align: center;
}
#footerLink:hover {
  background-color: #f6f3f3;
  color: #4a90e2;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}

footer .icon a {
  margin-top: 4px;
  color: #4a90e2;
  font-size: 2.5rem;
  padding: 0 10px 0 0;
}

footer i:hover {
  color: #4fc319;
  transition: 0.3s ease-in-out;
  transform: scale(1.5);
  border-radius: 5rem;
}

footer .copyright {
  width: 100%;
  text-align: center;
}

/**************************************************************************** Responsive Styling **************************************************************************/
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    width: 100%;
    background-color: #afd5e7;
  }

  .nav-links li {
    text-align: center;
  }

  .nav-links.active {
    display: flex;
    padding: 0 100px 0;
  }

  .hamburger {
    display: flex;
    margin-right: 20px;
  }
}
/*******************************************@mdia for login   */
@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
    margin-left: 1px;
    justify-content: flex-start;
    align-items: center;
  }

  .left-image {
    display: none;
  }

  .Form {
    margin-left: 2rem;
    margin-right: 3rem;
  }

  .login-form {
    width: 100%;
    max-width: 950px;
    padding: 10px;
    margin-top: 20px;
    height: auto;
    margin-left: 10px;
  }

  .login-form h2 {
    font-size: 24px;
  }

  .input-group input {
    font-size: 14px;
  }

  .btn {
    font-size: 14px;
  }

  .signup-link a {
    font-size: 14px;
  }
}
/**********************************************************  @media login page */
@media (max-width: 768px) {
  footer {
    flex-direction: column;
    align-items: center;
  }

  footer .col {
    width: 100%;
    align-items: center;
  }

  footer .icon a {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .signup-container {
    flex-direction: column;
    margin-left: 0;
    padding: 20px;
  }

  .right-image {
    display: none;
  }

  .signup-form {
    max-width: 100%;
    padding: 20px;
    margin-top: 20px;
  }

  .signup-form h2 {
    font-size: 24px;
  }

  .input-group input,
  .input-group select {
    font-size: 14px;
  }

  .btn {
    font-size: 14px;
  }

  .signin-link a {
    font-size: 14px;
  }

  .terms-info {
    font-size: 12px;
  }
  .input-chart-container {
    flex-direction: column;
    align-items: center;
  }

  .input-section {
    width: 60%;
    margin-bottom: 20px;
    margin-left: 30px;
  }
  .input-section label {
    margin-top: 1rem;
  }
  .addDataBtn {
    margin-bottom: 10px;
  }
  .topTitle {
    color: #216d90;
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .signup-container {
    margin-left: 0;
    /* padding: 15px; */
  }

  .signup-form {
    width: 100%;
    padding: 15px;
  }

  .signup-form h2 {
    font-size: 20px;
  }

  .input-group input,
  .input-group select {
    font-size: 12px;
  }

  .btn {
    font-size: 12px;
  }

  .signin-link a {
    font-size: 12px;
  }

  .terms-info {
    font-size: 10px;
  }
}

@media (max-width: 1024px) {
  .input-chart-container {
    flex-direction: column;
    align-items: center;
  }

  .Form {
    margin-left: 59px;
    justify-content: center;
  }

  .topTitle {
    text-align: center;
    margin-right: 4rem;
    font-size: 1.8rem;
  }
  .input-section {
    margin-left: 0;
    padding-right: 20px;
    max-width: 100%;
    width: 90%;
    margin-bottom: 20px;
  }

  .chart-section {
    margin-top: 20px;
    max-width: 100%;
    width: 100%;
  }

  #bloodSugarChart {
    height: 300px;
  }

  .recommendations-container {
    flex-direction: column;
    align-items: center;
    /* gap: 20rem; */
  }

  #foodRecommendations {
    padding: 20px;
    width: 100%;
  }

  .food-item {
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 1rem;
  }

  .food-item img {
    width: 80%;
    height: auto;
  }

  .food-item h3 {
    font-size: 1.5em;
    text-align: center;
  }

  .food-item p {
    font-size: 1rem;
    text-align: center;
  }

  .sticky-text h3,
  .sticky-text p {
    display: none;
  }

  #recipeSearchForm {
    width: 100%;
    margin-left: 0rem;
  }

  #recipeSearchForm input,
  #recipeSearchForm button {
    width: 100%;
    margin-bottom: 10px;
  }

  #recipeSearchForm label {
    font-size: 16px;
  }
  .signup-container {
    margin-top: 100px;
    /* padding: 40px; */
    margin-bottom: 4rem;
    margin-left: 1rem;
    /* width: 50%; */
  }

  .right-image img {
    width: 90%;
    object-fit: cover;
  }

  .signup-form {
    max-width: 360px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    margin-bottom: 3rem;
  }

  .signup-form h2 {
    font-size: 32px;
    margin-top: 40px;
  }

  .input-group input,
  .input-group select {
    font-size: 18px;
    padding: 14px;
  }

  .btn {
    font-size: 18px;
    padding: 14px;
  }

  .signin-link {
    font-size: 16px;
  }

  .terms-info {
    font-size: 16px;
  }
}

/* ********************************** Home Page  ****************************/

/* Extra Small Screens (Mobile) */
@media (max-width: 480px) {
  .login-container {
    padding: 0 10px;
  }

  .login-form {
    padding: 15px;
  }

  .login-form h2 {
    font-size: 24px;
  }

  .input-group input {
    padding: 10px;
    font-size: 14px;
  }

  .btn {
    padding: 10px;
    font-size: 14px;
  }
}



/* ************************ Validation Form Errors ***************************** */

#errorMessages {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #cd0000;
  font-size: 20px;
  margin-top: 15px;
}
/* ************************ My Recipes Buttin ***************************** */

.myRecipeBtn {
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background: linear-gradient(135deg, #2532c9, #2575fc);
  border: none;
  border-radius: 30px;
  text-decoration: none;
  transition: background 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  height: 4%;
}

.myRecipeBtn:hover {
  background: linear-gradient(135deg, #2575fc, #0d43a1);
  transform: translateY(-2px);
}

.myRecipeBtn:active {
  transform: translateY(0);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
