<html lang="en">
    <footer class="section-p1">
      <div class="col">
        <h4>Contact</h4>
        <p><strong>Address:</strong> 8888 Brakeman Dr Waxhaw, NC 28173</p>
        <p><strong>Phone:</strong> +1 (980) 829-6987</p>
      </div>
      <div class="col">
        <h4>Quick Links</h4>
        <a href="#">Home</a>
        <a href="#">Login or Sign up</a>
      </div>
      <div class="col">
        <h4>Follow us</h4>
        <div class="icon">
          <a href="https://www.facebook.com/?_rdr"><i
              class="fa-brands fa-facebook"
            ></i></a>
          <a href="https://www.instagram.com/accounts/login/"><i
              class="fa-brands fa-instagram"
            ></i></a>
          <a href="#"><i class="fa-brands fa-github"></i></a>
          <a
            href="https://x.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJteCI6IjIifQ%3D%3D%22%7D"
          ><i class="fa-brands fa-square-x-twitter"></i></a>
          <a href="https://www.youtube.com/"><i
              class="fa-brands fa-youtube"
            ></i></a>
        </div>
      </div>
      <div class="copyright">
        <p>
          Copyright &copy;2025; Designed by
          <span class="designer">Dream Team</span>
        </p>
      </div>
    </footer>