<nav>
  <header class="navbar">
    <div class="navbar-container">
      <a href="/" class="logo">
        <img src="/images/FinalLogo.png" alt="logo" class="brand-logo" />
      </a>

      <!-- ******************************************Hamburger Menu -->
      <div class="hamburger" onclick="toggleMenu()">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>

      <!--********************************************* Navigation Links -->
      <ul class="nav-links">
        <li><a href="/chart">Blood Tracker</a></li>
        <li><a href="/about">Resources</a></li>
        <li><a href="/login" id="loginLink">Login</a></li>
        <li><a href="/signup" id="signupLink" class="btn-nav">Sign Up</a></li>
        <li><a
            href="#"
            id="signoutLink"
            style="display: none"
            onclick="signOut()"
            class="btn-nav"
          >Sign Out</a></li>
      </ul>
    </div>
  </header>
</nav>