<nav></nav>
  <header class="navbar">
    <div class="navbar-container">
      <a href="#" class="logo">Diabetes Tracker</a>

      <!-- ******************************************Hamburger Menu -->
      <div class="hamburger" onclick="toggleMenu()">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>

      <!--********************************************* Navigation Links -->
      <ul class="nav-links">
        <li><a href="/index">Home</a></li>
        <li><a href="/chart">Blood Tracker</a></li>
        <li><a href="/about">Resources</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Sign Up</a></li>
        {{! <a href="#">Login</a>
      <a href="#">Sign Up</a> }}
      </ul>
    </div>
  </header>
</nav>